* {
  margin: 0;
  padding: 0;
}

div#root {
  background: linear-gradient(#ffdec8, #ffe1a8, #ffdec8);
}

span {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: #de6b48;
}

h5.card-subtitle {
  margin: 5px auto;
}

input.form-control {
  background-color: #efc7c2;
}

div.card-header {
  background: linear-gradient(#723d46, #472d30);
  color: white;
  border: none;
  font-family: "Arima Madurai", cursive;
}

.container {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border: none;
}

.card {
  border-radius: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}

.card-body {
  background-color: #e26e5ce5;
  font-family: "Open Sans", sans-serif;
  color: #c1edcc;
}

#banner {
  background: linear-gradient(#6c3231, #492934);
  color: whitesmoke;
  text-align: center;
  font-family: "Berkshire Swash", cursive;
  padding: 20px auto;
}

#editFormHeader {
  padding-top: 10px;
  text-align: center;
  font-family: "Arima Madurai", cursive;
  font-size: 30px;
  color: #6c3231;
}

#bookInfo {
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 400;
}

#addbtn,
#editbtn {
  background-color: #5ca4a9;
  color: white;
  font-weight: 800;
}

#addbtn:hover,
#editbtn:hover {
  background-color: #318186;
  cursor: pointer;
}

#delete,
#edit {
  float: right;
  display: inline-flex;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
}
